<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="css/index.css" media="all">
        <link rel="stylesheet" href="fontawesome/css/fontawesome.css" media="all">
        <link rel="stylesheet" href="fontawesome/css/solid.css" media="all">
        <script>
            var process = { env: { NODE_ENV: "dev" }};
        </script>
        <script type="text/javascript" src="/js/index.js"></script>
    </head>
    <body>
        <div id="contoureditor-wrapper"></div>
    </body>
</html>
