@mainBgColor: #fefefe;
@borderColor: #c5c5c5;
@border: 1px solid @borderColor;
@fontColor: #303030;
@gap: 10px;
@sidebarWidth: 250px;
@canvasBackground: #fafafa;

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: @mainBgColor url("/img/texture.png");

    color: @fontColor;
}

div {
    box-sizing: border-box;
}