html,
body {
  margin: 0;
  padding: 0;
}
body {
  background: #fefefe url("/img/texture.png");
  color: #303030;
}
div {
  box-sizing: border-box;
}
#main-wrapper {
  margin: 10px;
  border: 1px solid #c5c5c5;
}
#canvas-wrapper {
  margin-right: 250px;
  border-right: 1px solid #c5c5c5;
  height: 600px;
  overflow: scroll;
}
#toolbar {
  padding: 10px;
  border-bottom: 1px solid #c5c5c5;
}
#sidebar {
  padding: 10px;
  float: right;
  width: 250px;
}
#canvas {
  background: #fafafa;
  width: 1000px;
  height: 1000px;
  display: block;
}
